@import '_variables.scss';
.btn {
  padding: 0.75rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  font-family: $font-primary;
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: gray;
    color: white;
    font-weight: 500;
  }
}
.btn-primary {
  color: #f8f8f8;
  background-color: #7188f9;
  transition: all 0.3s;

  &:hover,
  &:active {
    background-color: rgba(#7188f9, 0.8);
  }
}

.btn-secondary {
  color: #394149;
  background-color: $color-secondary;
  transition: all 0.3s;

  &:hover,
  &:active {
    background-color: $color-secondary-hover;
  }
}

.btn-tertiary {
  color: black;
  border: 1px solid black;
  background: white;
  transition: all 0.3s;

  &:hover,
  &:active {
    background: #394149;
    color: #f8f8f8;
  }
}

.btn-quarternary {
  color: #f8f8f8;
  background-color: $color-quarternary;
  transition: all 0.3s;

  &:hover,
  &:active {
    background-color: #bf6966;
  }
}

.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
  padding: 0.7rem 1rem;
  border-radius: 0.35rem;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 1rem;
  font-family: inherit;
  background: white;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}

textarea {
  width: 100%;
  height: 7.5rem;
  padding: 1rem;
  border-radius: 0.3125rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
